[project]
title = "lsst-images"

[project.python]
package = "lsst-images"

[build]
clean = true

[sphinx]
nitpick_ignore = [
  ["py:class", "module"],  # Sphinx has problems with types.ModuleType.
  ["py:obj", "logging.DEBUG"],  # Python 3 constant can not be found.
  ["py:class", "unittest.case.TestCase"],  # Sphinx can not see TestCase.
  ["py:obj", "deprecated.sphinx.deprecated"],  # No intersphinx for deprecated package.
  ["py:class", "LsstLoggers"],  # Sphinx does not understand type aliases
  ["py:obj", "structlog"],  # structlog does not have intersphinx mapping.
  ["py:class", "array-like"],
  ["py:class", "scalar"],
  ["py:class", "T"],  # type variables don't resolve
  ["py:class", "P"],  # type variables don't resolve
  ["py:class", "V"],  # type variables don't resolve
]
nitpick_ignore_regex = [
  ['py:.*', 'lsst\..*'],  # Ignore warnings from links to other lsst packages.
  ['py:.*', 'cProfile.Profile'],  # Link does not resolve to py3 docs.
  ['py:class', 'a set-like.*'],  # collections.abc.Mapping inheritance.
  ['py:class', 'a shallow copy.*'],  # collections.abc.Mapping inheritance.
  ['py:class', 'None\.  .*'],  # collections.abc.Mapping inheritance.
  ['py:class', 'an object providing.*'],  # collections.abc.Mapping inheritance.
  ['py:.*', 'typing.Union'],  # Link does not resolve to py3 docs.
  ['py:.*', '__builtins__.range'],  # None of 'range', 'builtins.range', or '__builtins__.range' resolves.
]
extensions = [
    "sphinxcontrib.autodoc_pydantic"
]

[sphinx.intersphinx.projects]
astropy = "https://docs.astropy.org/en/stable"
lsst = "https://pipelines.lsst.io/v/daily"
numpy = "https://numpy.org/doc/stable/"
python = "https://docs.python.org/3"
pydantic = "https://docs.pydantic.dev/latest/"
piff = "https://rmjarvis.github.io/Piff/_build/html"
